<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="http://pluspng.com/img-png/pikachu-face-png-pikachu-s-face-vector-by-ryanthescooterguy-pikachu-s-face-vector-by-ryanthescooterguy-3724.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Pokemon
  </a>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="poke poke" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Find a pokemon</button>
    </form>
</nav>
<div style="text-align:center">
  <h1>
    My Pokemon Collection!
  </h1>
<app-pokemon></app-pokemon>
